<form method="post">{% csrf_token %}
<b>Do you have an idea for a project? Propose it here in the form below!</b><br><br>
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.title.errors }}
        <label for="id_title">Title:</label>
        {{ form.title }}
    </div>
    <div class="fieldWrapper">
        {{ form.short_description.errors }}
        <label for="id_short_description">Short description in 20 words or less:</label>
        {{ form.short_description }}
    </div>
    <div class="fieldWrapper">
        {{ form.long_description.errors }}
        <label for="id_long_description">Detailed description of project (up to 3000 characters):</label>
        {{ form.long_description }}
    </div>
    <div class="fieldWrapper">
        {{ form.number_of_members.errors }}
        <label for="id_number_of_members">Suggested number of members needed:</label>
        {{ form.number_of_members }}
    </div>
    <div class="fieldWrapper">
        {{ form.deadline.errors }}
        <label for="id_deadline">Suggested deadline:</label>
        {{ form.deadline }}
    </div>
    <br><br>
    <div>
    (Optional): Suggest a sequence of up to five goals. Each goal should be a milestone that leads to the project's completion, with a deadline to match.
    <br><br>
        {% for gform in gforms %}
            <small>{{ gform.as_p }}</small>
            <br>
        {% endfor %}
    </div>
    <p><input type="submit" value="Propose project" /></p>
</form>
